.img-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: aliceblue;
}

.movie-item {
  margin: 10px;
}

.series-item {
  margin: 10px;
}

.book-item {
  margin: 10px;
}

.add-button {
  float: right;
  margin-right: 30%;
}
